
img{
	background-image: linear-gradient(to right, #34E7F2, #F39ED8);
   
}
 h1{
 	@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
 		font-family: 'Style Script', cursive;
 		 background-color: #F0FFFF;
  text-align: center;
  border: 5px inset blue;
  display: inline-block;
  color: blue;
 }

 h3{
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
 		font-family: 'Style Script', cursive;
 		 background-color: #F0FFFF;
  text-align: center;
  border: 5px inset blue;
  display: inline-block;
  color: black;
 }
